# General
bin
tmp

# Play
RUNNING_PID

# SBT Builds
project/target
project/project

# SBT Projects
logs
dist
target
*/logs
*/dist
*/target

# IDE project files
.idea
.idea_modules
.cache
.classpath
.project
.settings
.target

